<p id="notice"><%= notice %></p>

<h1>Project Environments</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th>Is public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_environments.each do |project_environment| %>
      <tr>
        <td><%= project_environment.project_id %></td>
        <td><%= project_environment.name %></td>
        <td><%= project_environment.is_public %></td>
        <td><%= link_to 'Show', project_environment %></td>
        <td><%= link_to 'Edit', edit_project_environment_path(project_environment) %></td>
        <td><%= link_to 'Destroy', project_environment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Environment', new_project_environment_path %>
